body{
  font-family: 'Epilogue', sans-serif;
  margin: 0px;
  padding: 0px;
}

.page{
  height: 100vh;
}

a{
  text-decoration: none;
}


ion-icon{
  color: #0d6efd;
}

.picBorder{
  transition-timing-function: ease;
   transition: 2s; /* vendorless fallback */
}

.picBorder:hover{
  transform: scale(1.04);
  /* box-shadow: 0px 5px 10px 0px rgb(210, 233, 253); */
}

.footer{
  padding-top: 5px;
  padding-bottom: 5px;
  color:#fff;
  background-color: #0d6efd;
}

a{
  text-decoration: none ;
  color: inherit;
}

.link_btn{
  background-color: none;
  border:none;
  border-radius: 5px;
  padding: 5px;
  color:white;
}

.cardW{
  width:18rem
}